<div class="grid-x">
  <div class="cell medium-6 medium-offset-3">
    <h1>Editing Grade</h1>

    <%= render 'form', grade: @grade %>

    <%= link_to 'Show', school_grade_path(@school, @grade) %> |
    <%= link_to 'Back', school_grades_path %>
  </div>
</div>
