<p>
  <strong>Name:</strong>
  <%= @grade.name %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @grade.slug %>
</p>

<%= link_to 'Edit', edit_school_grade_path(@grade) %> |
<%= link_to 'Back', school_grades_path %>
