<div class="grid-x">
  <div class="cell medium-6 medium-offset-3">
    <h1>Editing Child</h1>

    <%= render 'form', child: @child %>

    <%= link_to 'Show', @child %> |
    <%= link_to 'Back', children_path %>
  </div>
</div>
