<div class="grid-x">
  <div class="cell medium-6 medium-offset-3">
    <h1>New Division</h1>

    <%= render 'form', school: @school, division: @division %>

    <%= link_to 'Back', school_divisions_path %>
  </div>
</div>
