<div class="grid-x">
  <div class="cell medium-6 medium-offset-3">
    <h1>Editing Event</h1>

    <%= render 'form', event: @event %>

    <%= link_to 'Show', school_program_event_path(@school, @program, @event) %> |
    <%= link_to 'Back', school_program_events_path %>
  </div>
</div>
