<h1>Editing Product Category</h1>

<%= render 'form', product_category: @product_category %>

<%= link_to 'Show', school_product_category_path(@school, @product_category) %> |
<%= link_to 'Back', school_product_categories_path %>
